<!DOCTYPE html>
<html>
<head>
    <title>{{ subject }}</title>
</head>
<body>
    <div>
        <h1>Hello, {{ recipient_name }}!</h1>
        <p>
            This is a status update regarding your submission.
        </p>
        <p>
            Submission Status: <strong>{{ submission_status }}</strong>
        </p>
        <p>
            Please note that the analysis process may take more than two weeks.<br>
            We kindly ask for your patience during this time. &#128578;
        </p>
        <p>
            Thank you for using our service!
        </p>
        <p>
            Best regards,<br>
            SymPortal Team
        </p>
    </div>
</body>
</html>
